<form class="" action="/chefs/new" method="post">
  <div>
    <label class="whatever">Name:</label>
  <input type="text" name="name" value="" placeholder="hi">
  </div>
  <div>
    <label class="whatever">Age:</label>
  <input type="text" name="age" value="" placeholder="hi">
  </div>

  <input type="submit" name="" value="save book">
</form>
