<h1>Pages#dishes</h1>
<h2> name should be here <%= @dish.name%></h2>
<h2> rating should be here <%= @dish.rating%></h2>
<h2> vege_or_not should be here <%= @dish.vege_or_not%></h2>

<p>Find me in app/views/pages/dishes.html.erb</p>
