<h1>Edit dish</h1>


<%= render "partials/formD" %>
<form class="" action="/<%= @dish.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="delete">
</form>
