<h1>Edit chef</h1>


<%= render "partials/form" %>

<form class="" action="/<%= @chef.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="delete">
</form>
